<main>
    <div class="card">
        <div class="card-body">

            <h1 class="text-center text-uppercase">Hello World</h1>
            <h2 class="text-end text-lowercase">Second</h2>
            <h3 class="text-capitalize">3 task title one</h3>

            <hr>

            <div class="display-1 text-muted">Hello World</div>
            <div class="display-5">Second</div>
            <div class="display-6">3 task</div>

            <hr>

            <div class="text-muted text-end">
                next <span class="display-6">text</span>
            </div>
            <hr>

            <a href="#" class="btn btn-success">
                <span class="text-uppercase">Button primary</span>
                <h1>test</h1>
            </a>

            <hr>

            <div class="card">
                <div class="card-body">

                    <p class="text-primary">My Text</p>
                    <p class="text-muted">My Text</p>

                </div>
            </div>

            <hr>

            <div class="card">
                <div class="card-body">
                    <button class="btn btn-secondary"> new button </button>
                    <button class="btn btn-outline-primary"> My button </button>
                    <button class="btn btn-outline-danger"> danger button </button>
                    <button class="btn btn-outline-warning"> warning button </button>
                </div>
            </div>

            <hr>

            <div class="card">
                <div class="card-body">

                    <button class="btn btn-secondary btn-lg"> new button </button>
                    <button class="btn btn-outline-primary"> My button </button>
                    <button class="btn btn-outline-danger btn-sm"> danger button </button>

                </div>
            </div>

            <hr>

            <div class="card">
                <div class="card-body">
                    This is content
                </div>
            </div>

        </div>
    </div>


</main>