<main class="p-3">
    {{!-- <div class="row g-4"> --}}
        <div class="row">
            <div class="col-12 mb-5">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="#" class="nav-link">Main</a>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link">Catalog</a>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link">Shop list</a>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link active">Bootstrap</a>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link disabled">Bootstrap</a>
                    </div>
                </div>
            </div>
            <div class="col-5 pe-5">
                <div class="card">
                    <div class="pt-4 pb-3 px-4">
                        {{!-- <div class="card-body"> --}}
                            <div class="nav flex-column">
                                <div class="nav-item mb-2">
                                    <div class="card">
                                        <a href="/summary" class="nav-link">Home page</a>
                                    </div>
                                </div>
                                {{!-- <br> --}}
                                <div class="nav-item mb-2">
                                    <div class="card">
                                        <a href="#" class="nav-link">Catalog</a>
                                    </div>
                                </div>
                                {{!-- <br> --}}
                                <div class="nav-item mb-2">
                                    <div class="card">
                                        <a href="#" class="nav-link">FAQ page</a>
                                    </div>
                                </div>
                                {{!-- <br> --}}
                                <div class="nav-item mb-2">
                                    <div class="card">
                                        <a href="/skills" class="nav-link active">Bootstrap</a>
                                    </div>
                                </div>
                                {{!-- <br> --}}
                                <div class="nav-item mb-2 p">
                                    <div class="card">
                                        <a href="#" class="nav-link disabled">Bootstrap</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {{!-- <div class="col-8">
                    test
                </div> --}}

                {{!-- <div class="col-8">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC and technics</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">MacBook</a>
                        </li>
                        <li class="breadcrumb-item">
                            MacBook
                        </li>
                    </ol>
                </div> --}}

                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">PC and technics</a>
                                </li>

                                <li class="breadcrumb-item">
                                    MacBook
                                </li>
                            </ol>
                        </div>

                        <div class="col-12">
                            <bitton class="btn btn-primary rounded-pill mb-3">Click me!</bitton>
                            <div class="alert alert-dark">
                                <h6 class="mb-2">
                                    Hello World! <span class="badge text-bg-warning rounded-pill text-uppercase">Top
                                        sale</span>
                                </h6>
                                {{!-- <bitton class="btn btn-primary rounded-pill">Click me!</bitton> --}}
                                <p class="m-0"> This is info</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>