<main class="p-5">
    <h1>
        Hello<i class="bi bi-brightness-alt-high"></i>
        <i class="fa-brands fa-slack fa-beat-fade fa-2xl" style="color: #d22819;"></i>
    </h1>

    <button class="btn btn-warning">
        <i class="bi bi-emoji-smile"></i>
        <i class="fa-brands fa-slack fa-beat-fade fa-2xl" style="color: #d22819;"></i>
    </button>

    <div>
        <i class="fa-brands fa-slack fa-beat-fade fa-2xl" style="color: #d22819;"></i>
    </div>

    <div>
        <img src="/svg/slack.svg">
    </div>

</main>